<%= stylesheet_link_tag "splash" %>
<section class="splash">
      <h1 class="heading">Budget App</h1>
    <div class =splash-image>
            <%= image_tag "piggy.png", class: "image" %>
        </div>
        <div class = "get-started">
Welcome to the budget app
        </div>
         
    <%= link_to "Get started", main_index_path, class: "get-started-link" %>

    </section>
