.login {
  width: 70%;
  text-decoration: none;
  background: #3778c2;
  color: white;
}

.signup {
  background-color: transparent !important;
  text-decoration: none;
}

.link_to {
  width: 100%;
  text-align: center;
  padding: 1%;
}

.start {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding: 1%;
}

.mains {
  background: #f0f2f1;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topic {
  text-align: center;
  margin-top: 40vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 40vh;
}
