.actions {
  display: flex;
  justify-content: flex-end;
  gap: 36%;
  background: #3778c2;
  padding: 2%;
  color: #fff;
  width:100%;
  margin-bottom: 8%;
}

.form {
  width: 100%;
}

.field {
  width: 100%;
  padding: 0%;
  margin: 0%;
}

.btn-login {
  background-color: transparent;
  border: none;
  color: #fff;
}

body {
  background-color: #f5f6f8;
}
input{
  padding:0%;
  margin:0% !important;
  border-right:none;
  border-left:none;
  border-top:none;
}
.remember{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:0%;
  margin-top: 2%;
  padding-bottom:5%;
  font-size: large;
}
