<%= stylesheet_link_tag "categories" %>
<%= stylesheet_link_tag "form" %>

<div>
  <%= link_to "< Back", category_path(@category) , class:"link_to back" %>
</div>

<% content_for :page_title, "New Expense" %>
<section class = "new-exp">
<%= render "form", expense: @expense %>
</section>
<br>